.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}
.navbar-custom .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
    background-color: black;
}
.navbar-custom .navbar-brand:focus {
    outline: none;
}
.navbar-custom a {
    color: white;
}
.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: black;
}
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: none;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
    color: white;
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

h1,
h2,
h3,
h5,
h6 {
    color:white;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
h4{
    color:white;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.skills {
    color: white;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

.modal-header, h4, .close {
    background-color: #7F7F7E;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.container {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}
.btn-default {
    border: 1px solid #42DCA3;
    color: #42DCA3;
    background-color: transparent;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42DCA3;
    outline: none;
    color: black;
    background-color: #42DCA3;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.form-group{
    color:black;
}

p {float: right; margin: 5px;  }
p.big {font-size: 400%; line-height:50%; font-weight:bold;}
p.small {font-size: 150%; line-height:50%; font-weight:bold;}
.main-nav {
    background-color: black;
}

@media (max-width: 767px){
    section{
        padding: 75px 0;
    }
    section.first{
        padding-top: 75px;
    }
}
section.success {
    background: black;
    color: white;
}
.footer{
    background-color:black;
}