<div class="container">

    <br>
    <br>
    <p class="big">RELATIONSHIPS,</p><p>Everyone is getting into</p>
    <br>
  <br><br><p>growing up, </p><br><br>


    <p>is just getting LAZIER with each day </p><br><p class="big" id="a1"></p><p>and</p>
    <br>
    <br>
    <br>
    <p>and finding more </p>
    <br>
    <p class="big">tv series</p>
    <br>
    <br>
    <p>to watch.</p>

    <br> <br> <br> <br> <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>
