<div class="container">
    <br>
    <p class="small" id="a1"></p><p>story of </p>
    <br>
    <br>
    <br>
    <br>
    <p class="small">*******************************</p>
    <br>
    <br>
    <br>
    <p class="big">99</p><p>got</p> <p id = "a2"> </p><br>
    <br>
    <br>
    <p class="small">money</p><p>and</p><p class = "small">problems</p><br>
    <br>
    <br>
    <p>could probably solve</p>
    <br>
    <br><br>
    <br>
    <br>
    <p> of them</p> <p class = "big">93</p>
    <br>
    <br>


    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>

