<div class="container">

    <br>
    <br>
    <p class = "big">QUIZ?</p><p>Do you have any question before the</p><p class="small">Teacher:</p>
    <br>
    <br>
    <p>..........</p><br>
    <br>
    <br>
    <p>because</p><p class="small">silence</p><p>:sits there in</p><p class="big" id = "a1"></p>
    <br>
    <br>
    <br>
    <p>doesn't know what he doesn't</p><p id = "a2"></p>
    <br>
    <br>
    <br>
    <p class = "big">Even Know!</p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>

