<div class="container">


    <p>was so bored</p><p class = "small" id = "a1"> </p><p>Today</p><br>
    <br>
    <br>
    <p class="small">and</p><p>saw an ant in his kitchen</p><p class = "big">he</p><br>
    <br>
    <br>
    <p>placed a few sugar cubes in front of her.</p>
    <br>
    <br>
    <br>
    <p>And she had sum and went to tell her friends. </p>
    <br>
    <br>
    <p> quickly hide the sugar cubes</p><p class="big" id = "a2"></p> <p>Then</p>
    <br>
    <br>
    <br>
    <br>
 <p class = "big">Liar.</p><p>he wants them to think she is a</p> <p class="small">because</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>