<div class="container">


    <p>'s Girl Friend</p><p class="small" id="a1"></p>
    <br>
    <br>
    <br>
    <br>
    <p class="big">Fun.</p><p>OK!Have</p> <p class = "small" id = "GF"> </p><br>
    <br>
    <br><br>
    <br>
    <br>
    <p>Do NOT have fun. Abort Mission!</p><p id="a2" class="big"> </p>
    <br>
    <br>
    <br>
    <br>
    <p>Mission</p><p class = "big">ABORT</p> <p>I repeat:</p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>
