<div class="container">


    <p>grade</p><p class="small">1st</p><p>was at</p><p class = "big" id = "a1"> </p><p>When</p><br>
    <br>
    <br>
    <p>to</p><p class="small">letters</p> <p>he was asked to write</p><br>
    <br>
    <br>
    <p>people in a nursing home</p><br>
    <br>
    <br><br>
    <br>
    <br>
    <p> wrote:</p><p class="big" id = "a2"></p> <p class = "small">And</p>
    <br>
    <br>
    <br>
    <br>
    <p class="big">ALMOST UP!</p><p>Time is</p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>
