<div class="container">

    <br><br>
    <br> <p>with me.</p> <p class="big">SHAMPOO</p>  <p>: " Thanks for buying </p> <p class="big" id="a1"></p><br><br>

    <br><p>hair</p><p class="big">GREASY</p><br><p>Boyfriend: No problem. </p><br>

    <br><br><p>:"WHAT??!"</p><p class="big" id="a2"></p><br><br>

    <br><br><br><br><p>eye. </p><p class="big">Wacky</p><p>Boyfriend: Sorry.</p><br><br>

    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>
