<div class="container">


<p>Why'd you never come out anymore?</p> <p class = "small">A: </p><br>
    <br>
    <br>
    <p>anti-social?</p><p class="big">so</p><p>B: why are you</p><br>
    <br>
    <br>
    <p>stay at HOME!</p><p class="small">always</p><p> Why you</p><p class="big" id="a1"></p><p>C:Hey</p>
    <br>
    <br><br>
    <br>
    <br>
    <p>...........................</p>
    <br>
    <br>
    <br>
    <br>
    <p class = "big">I am BROKE!!!</p><p>:I'm broke.</p> <p id="a2"></p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>
