<div class="container">


    <p class = "big" id = "a1"></p><p>When </p>
    <br>
    <br>    <br>
    <p>feels down about herself, </p>
    <br>
    <br>    <br>
    <p>to</p><p class="small">social media</p> <p>is more likely to use  </p><p class="small" id="a2"></p>
    <br>
    <br>    <br>
    <p> people out</p><p class = "big">other</p><p>check</p>
    <br>
    <br>    <br>
    <p> making her feel </p><p class="small">and</p>
    <br>
    <br>    <br>
    <p class="big">worse !</p><p>even</p>
    <br>    <br>    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>

