<div class="container">

    <br>
    <p class="small" id="a1"></p><p>story of </p>
    <br>
    <br>
    <p>I’ve got 2 pieces of bad news..</p> <p class = "small">Doctor:</p><br>
    <br>
    <br>
    <p>hours to live.</p><p class="small">24</p><p>only have</p><p class = "small">You</p><br>
    <br>
    <br>
    <p>:"OMG! what am i supposed to do???</p><p class="big" id="a2"></p><br>
    <br>
    <br>
    <p class="small">part?"</p> <p>wait... What is the 2nd</p>
    <br>
    <br>
    <p class = "big">Yesterday.....</p> <p>Doctor:i meant to call you</p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>