<div class="container">

    <p>daily</p> <p id="a1"></p><br>
    <br>
    <br>
    <p>*****************************************</p>
    <br>
    <br>
    <p>leaves her house</p><p id="a2"></p><p class="big">When</p><br>
    <br>
    <br><br>
    <br>
    <p>"ew, the sun!"</p>
    <br>
    <br>
    <br>
    <br>
    <p class="small">"ew, the people!</p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>

