<div class="container">
    <p>gives advice to her friend</p> <p id="a1"></p><p class = "big">After</p><br>
    <br>
    <br>
    <p>ends her sentence with</p><p class="small">always</p><p>she</p><br>
    <br>
    <br>
    <p class="big">"idk tho"</p><br>
    <br>
    <br><br>
    <br>
    <br>
    <p>So they can never say</p>
    <br>
    <br>
    <br>
    <br>
    <p class="small">lives</p> <p>ruins their</p><p class="big" id="a2"></p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>

