<div class="container">
    <p class = "big" id = "a1"> </p><br>
    <br>
    <br>
    <p>socialize with the family?</p> <p class = "small">NEVER</p><p>How come you</p>
    <br>
    <br>
    <br>
    <br>
    <p class = "small">:</p> <p class="small" id = "a2"></p><br>
    <br>
    <br>
    <br>
    <br>
    <p class = "big"> family*</p><br> <p>*sits with</p>
    <br>
    <br>
    <br>
    <p>by entire family........*</p> <p class = "big">insulted</p><p>*and gets</p><br>
    <br>
    <br><br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>
