<div class="container">


    <p>was so bored, </p>   <p class = "big" id = "a1"></p><p>Today </p>
    <br>
    <br>
    <br>
    <p> in his kitchen </p>  <p class="small">int</p>   <p>she saw an</p>
    <br>    <br>
    <br>
    <p> cubes in front of him.</p> <p class="small">sugra</p>  <p>a few</p><p class="small">placed</p> <p>and</p>
    <br>    <br>
    <br>
    <p class="small">his friends. </p> <p>He had sum and went to tell </p>
    <br>    <br>
    <br>
    <p> quickly hide the sugar cubes because </p><p>And </p> <p class="big" id="a2"></p>
    <br>
    <br>    <br>
    <p class="big">he is a liar.</p><p>she wants them to think </p>
    <br>
    <br>    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>

