<div class="container">


    <p>“There are pros and cons with working here”</p> <p class = "big"> BOSS:</p><br>
    <br>
    <br>
    <p class="small">"OK"</p><p>says:</p><p id="a1"></p><br>
    <br>
    <br>
    <p>activities for employees</p><p class="small">FUN</p><p>Boss:like we arrage lots of</p><br>
    <br>
    <br><br>
    <br>
    <br>
    <p>??"</p><p class="big">Pros</p><p> :"Right, and...</p><p id = "a2"></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>