<div class="container">


    <br><br><br><br>
    <br> <p class="big">Daenerys</p>  <p>she looked like</p> <p class="big" id="a1"></p>  <p>A told </p>
    <br><br><br><br><br><br>
    <p>from Game of Thrones.</p>
    <br><br>
    <p>Sorry, never heard of that game before lol"</p> <p>:"</p> <br> <p class = "big" id = "a2"></p>
   <br><br><br>
    <p>A: ............</p>
    <br>

    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>