<div class="container">

    <nav class="navbar navbar-custom" role="navigation">
    </nav>
    <p>got kicked out of a club tonight</p> <p class = "big" id = "a1"> </p><br>
    <br>
    <br>
    <p class="small">refused to pay</p><p>he</p><p class = "small">because</p><br>
    <br>
    <br>
    <p>by saying that he was the owner's SON</p><br>
    <br>
    <br><br>
    <br>
    <br>
    <p> REALLY</p><p class="big" id = "a2"></p> <p class = "small">But</p>
    <br>
    <br>
    <br>
    <br>
    <p class = "big">!</p><p class = "big">owner's son</p> <p>is the</p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>