<div class="container">
    <p> with working here”</p> <p class="small"> cons</p><p>and</p> <p class="small">pros</p><p>Boss: “There are </p>
    <br>
    <br>
    <br>
    <p>:”OK”</p><br> <p class = "big" id = "a1"></p>
    <br>
    <br>
    <br>
    <p class="big">FUN!</p>   <p>Boss: “like we arrange lots of </p>
    <br>
    <br>
    <br>
    <p> activities for the employees”</p>
    <br>
    <br>
    <br>
    <p class = "small">: “right. And pros?”</p><p class="big" id = "a2"></p>
    <br>
    <br>
    <br>
    <button style="float:right" ng-click = "Model.getReturn()" class="btn btn-default btn-lg"> Again</button>
</div>